#colorLabel{
    cursor: pointer;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 26px;
    z-index: 3;
}

#colorLabel::before{
    content: "";
    cursor: pointer;
    background-color: inherit;
    display: inline-block;
    width: 480px;
    height: 20px;
    border-radius: 26px;
    margin-top: 16px;
    z-index: 2;
}

#colorLabel input{
    display: none;
}

.bigFloatingDiv{
    box-shadow: 4px 4px 4px #999;
    transition: max-height 1s, padding 1s, height 1s;
    z-index: 2;
    background: url(../img/congruent_pentagon.png) repeat;
    padding: 18px;
}



/*big screen*/
@media screen and (min-width: 500px){
    .bigFloatingDiv[visible="False"], #settingDiv[visible="False"]{
        max-height: 0;
        padding: 0 18px;
    }

    .bigFloatingDiv{
        position: fixed;
        top: 50%;
        left: 50%;
        max-height: 90%;
        height: auto;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;
        padding: 18px;
        width: 486px;
    }

    .bigFloatingDiv::-webkit-scrollbar {
        width: 6px;
    }

    .bigFloatingDiv::-webkit-scrollbar-thumb {
        background: #888;
    }

    .bigFloatingDiv::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

/*phones*/
@media screen and (max-width: 499px){
    .bigFloatingDiv[visible="False"], #settingDiv[visible="False"]{
        height: 0;
        padding: 0 18px;
    }

    .bigFloatingDiv{
        position: fixed;
        top: 0;
        left: 0;
        height: calc(100% - 36px);
        width: calc(100% - 36px);
        overflow-x: scroll;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 18px;
    }

    .bigFloatingDiv::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .bigFloatingDiv::-webkit-scrollbar-thumb {
        background: #888;
    }

    .bigFloatingDiv::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .extended{
        display: none;
    }

    #colorLabel::before{
        width: 240px;
    }

    .configContentDiv{
        width: 240px;
        margin: 0 auto;
    }

}

.bigFloatingDiv input[type=button]{
    width: 100%;
    margin-top: 6px;
}

.patternBox{
    display: inline-block;
    cursor: pointer;
    height: 38px;
    width: 38px;
    margin: 1px;
    padding: 0;
    border: 0;
    background-color: red;
}

.extended .patternBox{
    background-color: #ff9ba0;
}

#choosePatternDiv input[type="color"]{
    display: none;
}

#choosePatternDiv div{
    height: 40px;
    min-width: 240px;
}

.colorPickerDiv {
    z-index: 3;
    position: fixed;
    width: 300px;
    height: 406px;
    margin-top: -220px;
    margin-left: -166px;
    top: 50%;
    left: 50%;
}

.colorPickerDiv input[type=button]{
    margin-top: 6px;
    width: 100%;
}



