@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Chilanka&display=swap');

body {
    background: url(../img/green_dust_scratch.png);
    font-family: 'Amatic SC', cursive;
}

#test {
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 300px;
    left: 0;
}

#board {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.toggleVisibility {
    transition: 2s;
}

.toggleVisibility[visible="True"] {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.1);
}

.toggleVisibility[visible="False"] {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.fullScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

input[type="text"], input[type="password"] {
    display: inline;
    border: green 2px solid;
    transition: background 1s,
    color 1s,
    border 1s;
    border-radius: 4px;
    outline: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 16pt;
    height: 18pt;
    padding: 3px 8px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: lime 2px solid;
}

input[type="text"][invalid], input[type="password"][invalid] {
    border: red 2px solid;
    background-color: #f1dcdd;
}

input[type="button"] {
    display: inline;
    border: green 2px solid;
    transition: background 600ms,
    color 600ms,
    border 600ms;
    border-radius: 4px;
    outline: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 16pt;
    padding: 1.5px 8px;
    color: white;
    background: green;
    cursor: pointer;
}

input[type="button"]:hover {
    background: white;
    color: green;
}

input[type="button"]:active {
    background: white;
    color: lime;
}

.toggleVisibility[visible="True"] .floatingBtn {
    top: 20px
}

.toggleVisibility[visible="False"] .floatingBtn {
    top: -100px
}

.floatingBtn {
    background-color: green;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 4px 4px 4px #999;
    transition: 600ms;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .floatingBtn {
        margin: 10px 10px 0 0;
        width: 60px;
        height: 60px;
        font-size: 24pt;
    }

    .floatingBtn i::before {
        margin-top: 14px;
    }
}

@media screen and (min-width: 401px) {
    .floatingBtn {
        margin: 20px 20px 0 0;
        width: 80px;
        height: 80px;
        font-size: 29pt;
    }

    .floatingBtn i::before {
        margin-top: 21px;
    }
}

.floatingBtn:hover {
    background-color: white;
    color: green;
}

.floatingBtn[active] {
    background-color: white;
    color: green;
}

.buttonsBox{
    position: fixed;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    transition: 1s;
}